* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    z-index: 2;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
}

.logo {
    height: 36px;
    margin-left: 4%;
}

.Desktop-navbar {
    display: flex;
    justify-content: space-evenly;
    min-width: 500px;
    letter-spacing: 1px;
}

.navbar {
    padding: 29px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #282c3f;
    font-weight: 700;
    border-bottom: 4px solid #ffffff;
}

.navbar:hover {
    border-bottom: 4px solid rgb(201, 52, 102);
}

.navbar sup {
    color: #ff3f6c;
    font-size: 8px;
}

.searchbar {
    min-width: 200px;
    width: 30%;
    height: 40px;
    display: flex;
    background-color: #f5f5f6;
    border-radius: 5px;

}

.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    color: #8b8b8b;
    cursor: pointer;
}

.search_bar {
    background: #f5f5f6;
    font-size: 14px;
    width: 95%;
    padding: 10px;
    border: 1px solid #f5f5f6;
    border-radius: 5px;
    outline: none;
}

.actionbar {
    margin-right: 4%;
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.action-bars {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 700;
    align-items: center;
}

/* Main starts here*/

main {
    margin-top: 100px;
    width: 100%;
}

.Flat500 img {
    width: 100%;
}

.Banner {
    display: flex;
}

.leftimage {
    width: 100%;
}

.rightimage {
    width: 100%;
}

.itemContainer {
    width: 90%;
    margin: 10px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.items_container {
    width: 210px;
    margin: 10px;
    margin-top: 50px;
    box-shadow: 5px 4px 3px rgb(196, 187, 187);
}

.items_image {
    width: 100%;
}

.items_rating {
    font-size: 12px;
    font-weight: 700;
    margin: 5px;
}

.items_compayname {
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
}

.items_name {
    margin: 5px;
    color: #535766;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
}

.items_price {
    margin: 5px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
}

.items_sellingprice {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.items_actualprice {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.items_discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.items_addtobag {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 7px 7px 0px 7px;
}

.items_addingbag {
    margin-right: 10px;
}



/* footer is here */

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* media from here */

@media screen and (max-width: 580px) {

    header {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #943584;
    }

    .Desktop-navbar {
        visibility: hidden;
        z-index: 3;
        position: fixed;
    }

    .actionbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        border-top: 1px solid #b7aaaa;
    }

    .searchbar {
        flex-grow: 1;
        width: 65%;
    }

}

@media screen and (min-width: 580px) and (max-width: 700px) {

    header {
        display: flex;
        flex-wrap: wrap;
    }


    .actionbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
    }

    .searchbar {
        width: 100%;
        background-color: #fff;
        display: flex;
        padding-bottom: 10px;
        justify-content: center;
        border-bottom: 2px solid #943584;
    }

    .search_bar {
        width: 70%;
    }

    main {
        margin-top: 150px;
        width: 100%;
    }
}